body{
	background: rgb(241,245,248);
}
.g-flexview {
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
    overflow: auto;
    background: rgb(241,245,248);
    padding-bottom: 2.45rem;
}
.main_block{
	margin-top: 0.6rem;
	background-color: #fff;
}
.main_block .main_item{
	padding: 0 0.8rem;
}
.main_block .main_item ul li{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 2.2rem;
	position: relative;
}
.main_block .main_item ul .a_b_b{
	border-bottom: 0.025rem solid #f7f8fb;
}
.main_block .main_item ul .a_b_t{
	border-top: 0.025rem solid #f1f5f8;
}
.main_block .main_item ul .a_b_t:first-child{
	border-top:none;
}
.main_block .main_item ul li .item_title{
	width: 4.3rem;
}
.main_block .main_item ul li .title_f{
	font-size: 0.8rem;
	color: #323232;
	font-weight: 600;
	padding: 1.15rem 0 0.5rem 0;
}
.main_block .main_item ul li .item_input{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1.15rem 0 0.5rem 0;
}
.main_block .main_item ul li .item_input_right>input{
	text-align: right;
	padding-right: 1.15rem !important;
}
.list-block{
	margin: 0;
	width: 100%;
}
textarea{
	font-size: 0.7rem;
	color: rgb(184,184,184) !important;
	font-weight: 600;
}
.main_block .main_item ul li .item_input_pd{
	padding: 0.825rem 0;
}
.main_block .main_item ul li .item_input_pd1{
	padding: 0.675rem 0;
}
.main_block .main_item ul li .item_icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width: 0.29rem;
    height: 0.52rem;
    background: url(../images/icon-right@2x.png) no-repeat;
    background-size: cover;
}
.main_block .main_item ul li .item_input input{
	display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 0 0 .25rem;
    margin: 0;
    font-size: 0.7rem;
    font-weight: 600;
    color: #323232;
    background: none;
    border: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.main_block .main_item ul li .weixin_ress{
	width: 2.5rem;
}
.main_block .main_item ul li .weixin_ress:after{
	content: "";
	display: block;
	width: 0.75rem;
	height: 0.6rem;
	background: url('../images/wechat_icon@2x.png') no-repeat;
	background-size: cover;
	position: absolute;
    top: 65%;
	right: 0;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.morendizhi{
	padding: 1.35rem 0 0 0.8rem;
}
.morendizhi>span{
	position: relative;
}
.morendizhi input{
	position: absolute;visibility: hidden;
}
.morendizhi>span>label{
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	border: 0.025rem solid rgb(157,157,157);
	border-radius: 50%;
}
.morendizhi>span>label>label{
	display: block;
	margin-left: 1.35rem;
	width: 10rem;
	font-size: 0.7rem;
	color: #323232;
	font-weight: 600;
}
.morendizhi input:checked + label:after
{
	content: "";
	position: absolute;
	left: 0.15rem;
	bottom: 0.35rem;
	width: .6rem;
	height: 0.4rem;
	border: 0.1rem solid rgb(157,157,157);
	border-top-color: transparent;
	border-right-color: transparent;
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	transform: rotate(-45deg);
}
.preservation{
	width: 100%;
	height: 2.45rem;
	color: #323232;
	font-size: 0.8rem;
	text-align: center;
	line-height: 2.45rem;
	position: fixed;
	left: 0;
	bottom: 0;
	display: block;
	background-color: #fedb43;
	font-weight: 600;
}
/* 弹出层 */
.popup_alert{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	z-index: 99;
	display: none;
}
.popup_alert .quhuo{
	width: 14.5rem;
	padding: 0 0;
	background: #ffffff;
	z-index: 100;
	min-height: 8.4rem;
	padding-bottom: 2.4rem;
	position: relative;
}
.popup_alert .quhuo .quhuoinfo{
	font-size: 0.8rem;
	color: rgb(0,0,0);
	text-align: center;
	margin: .75rem 0 .7rem 0;
	font-weight: 600;
}
/* .popup_alert .quhuo .alert_list{
	padding: .75rem 0;
	border-bottom: 0.075rem solid rgb(251,251,251);
}
.radio_address + label{
	font-size: 0.7rem;
	color: rgb(50,50,50);
	font-weight: 600;
}
.update_address{
	position: absolute;
	right: 1.35rem;
	display: block;
	width: 0.775rem;
	height: 0.775rem;
	background: url('../images/update_address@2x.png') no-repeat;
	background-size: cover;
}
.add_address_btn{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2.4rem;
	line-height: 2.4rem;
	background:  rgb(253,216,12);
	font-size: 0.8rem;
} */
.max_height_box{
	max-height: 20rem;
    overflow: auto;
    padding: 0 1.925rem;
}
.max_height_box p{
	text-align: left;
	font-weight: 600;
	color: rgb(102,102,102);
	font-size: 0.7rem;
	letter-spacing: 2px;
}
.alert_btn_wz{
	position: absolute;
	left: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    width: 100%;
}
.alert_btn_wz .btn_alert{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
}
.btn_alert_bg{
	background: rgb(254,219,67);
}
.btn_alert_bg1{
	background: #ffffff;
}
.my_text_align{
	text-align: center;
	color: rgb(0,0,00);
	font-weight: 600;
}
/* 单选按钮样式 */
.radio_address{
	position: absolute;
	display: none;
}
.radio_address + label{
	position: relative;
	display: inline-block;
	padding-left: 1.3rem;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 1.8rem;
	padding-top: 0.1rem;
}
.radio_address:checked + label:after{
	display: block;
}
.radio_address + label:after{
	content: '';
	position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
	width: 0.9rem;
	height: 0.9rem;
	background: url('../images/add_address_select@2x.png') no-repeat;
	background-size: cover;
}
.radio_address + label:after{
	position: absolute;
	display: none;
	content: '';
}
.radio_address+label:before{
	position: absolute;
	content: '';
}
.radio_address+label:before{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	width: 0.9rem;
	height: 0.9rem;
	border: 0.025rem solid rgb(157,157,157);
	-webkit-border-radius: 0.3rem;
	border-radius: 0.3rem;
}
.radio_address:checked + label:before{
    display: none;
}
/* 单选按钮样式 */
/* 弹出层 */
/* 动画 */
.fadeOutDown{
      -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.fadeInUp{
      -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/* 动画 */
