body{
	background: rgb(241,245,248);
}
.g-flexview {
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
        overflow: auto;
        padding-bottom: 3.425rem;
        background: rgb(241,245,248);
}
.top{
  width: 100%;
  height: 7.5rem;
  background: rgb(254, 219, 67);
}
.top .top_box{
  padding: .75rem .625rem 0 .625rem;
  position: relative;
}
.top .top_box .return_btn{
  display: block;
  width: 1rem;
  height: 1rem;
  background: url('../images/return@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: .75rem;
  left: .625rem;
}
.top .top_box .personal_btn{
  display: block;
  width: .925rem;
  height: .7rem;
  background: url('../images/caidan@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 1.05rem;
  right: .625rem;
}
.order{
	width: 100%;
	padding: 0 .525rem;
}
.order_m{
	margin-top: -2.65rem;
	position: relative;
}
.order_m .emotion_icon{
	width: 3.175rem;
	height: 3.125rem;
	background: url('../images/emotion@2x.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: -3.125rem;
	left: 50%;
	-webkit-transform:translate(-50%,0);             
	-moz-transform:translate(-50%,0);             
	-ms-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
.order_m1{
	margin-top: 0.5rem;
}
.order .order_box{
	width: 100%;
	background: #ffffff;
	padding: .75rem .8rem 0 .75rem;
}
.order_box > div:last-child{
	border-top: 0.05rem solid rgb(247,247,247);
	border-bottom: none;
}
.order .order_box .order_state15-10{
	font-size: 1rem;
	color: rgb(51,51,51);
	text-align: center;
	margin-bottom: .25rem;
	font-weight: 600;
    line-height: normal;
}
.order .order_box .price{
	font-size: 1.5rem;
	color: rgb(51,51,51);
	text-align: center;
	margin-bottom: .75rem;
	font-weight: 600;
	line-height: 0.8;
}
.order .order_box .price em{
	font-size: .9rem;
}
.order .order_box .order_number{
	font-size: .75rem;
	text-align: center;
	color: rgb(102,102,102);
	margin-bottom: .75rem;
}
.order .order_box .price>span{
	height: 0.7rem;
	font-size: .5rem;
	color: rgb(51,51,51);
	background: rgb(254,219,67);
	padding: 0.05rem 0.25rem;
	margin-left: 0.25rem;
    vertical-align: middle;
}
.order_btn{
	padding: .75rem 0;
	border-top: 0.1rem solid rgb(251,251,251);
}
.order .order_box .order_btn>a>i{
	display: inline-block;
	width: .8rem;
	height: .8rem;
	background: url('../images/delect_icon@2x.png') no-repeat;
	background-size: cover;
	vertical-align: middle;
    margin-bottom: .09rem;
	margin-right: .5rem
}
.order .order_box .order_btn>a{
	display: block;
	text-align: center;
	font-size: .75rem;
	color: rgb(51,51,51);
    font-weight: 600;
}
.order .order_address{
	width: 100%;
	background: #ffffff;
	padding: .75rem .85rem .5rem .75rem;
}
.order_address1{
	width: 100%;
	background: #ffffff;
}
.order .order_address .dizhi{
	font-size: 0.65rem;
	color: rgb(153,153,153);
}
.order .order_address p{
	font-size: 0.65rem;
	color: rgb(51,51,51);
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.order .order_address .order_address_p{
    margin-top: .2rem;
	margin-bottom: 1rem;
}
.order .order_address p:nth-child(2){
	margin-bottom: .75rem;
}
.order .order_address .order_btn p{
	margin-top: .2rem;
}
.dindanmx{
	text-align: left;
	font-size: .75rem;
	color: rgb(102,102,102);
	font-weight: 600;
}
.dindanmx em{
	font-size: .6rem;
	font-weight: 600;
}
.dindanmx i{
	display: inline-block;
	width: .825rem;
	height: .825rem;
	background: url('../images/order@2x.png') no-repeat;
	background-size: cover;
	vertical-align: text-top;
	margin-right: .5rem
}
.riqi{
	text-align: right;
	font-size: .6rem;
	color: rgb(102,102,102);
	font-weight: 600;
}
.order_address_m{
    padding: .75rem .85rem .5rem .75rem;
    border-bottom: 0.075rem solid rgb(240,240,240);
}
.order_list{
	padding: .75rem .85rem 0 .75rem;
}
.order_list_box{
	margin-bottom: .75rem;
}
.order_list_box div:nth-child(1){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.7rem;
	color: rgb(36,36,41);
	font-weight: 600;
}
.order_list_box div:nth-child(2),.order_list_box div:nth-child(3){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
}
.order_list_box div:nth-child(2){
	font-size: 0.7rem;
	color: rgb(168,168,168);
	font-weight: 600;
}
.order_list_box div:nth-child(3){
	font-size: 0.7rem;
	color: rgb(51,51,51);
	font-weight: 600;
}
.order_zongji>p{
	text-align: right;
	font-size: .75rem;
	font-weight: 600;
	color: rgb(244,84,90);
	position: relative;
}
.order_zongji p em{
	font-weight: 600;
	color: rgb(51,51,51);
}
.yunfei{
	text-align: left;
    position: absolute;
    left: 0;
    font-weight: 600;
    color: rgb(51,51,51);
}
.tijiao{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 .5rem;
	height: 2.7625rem;
	background: rgb(241,245,248);
}
.tijiao .tijao_btn{
	display: block;
	width: 100%;
	height: 2.1rem;
	line-height: 2.1rem;
	text-align: center;
	background: rgb(253,216,12);
	font-size: .75rem;
	color: rgb(57,28,0);
	font-weight: 600;
}
.tijiao .tijao_btn em{
	margin-left: .75rem;
	font-weight: 600;
}

.item{
	padding: .75rem 0;
	border-bottom: 0.05rem solid rgb(247,247,247);
}
.item:last-child{
	border-bottom:none;
}
.item_info>span{
	font-size: 0.65rem;
	color: rgb(153,153,153);
}
.item_info{
	line-height: 0.8;
}
.item_info1 > p{
	font-size: 0.65rem;
	color: rgb(51,51,51);
	font-weight: 600;
}
.item_icon{
	padding-right: .75rem;
	position: relative;
}
.item_icon:after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform:translate(0,-50%);             
	-moz-transform:translate(0,-50%);             
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
	width: 0.29rem;
    height: 0.52rem;
	background: url('../images/icon-right@2x.png') no-repeat;
	background-size: cover;
}
/* 弹出层 */
.popup_alert{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	z-index: 99;
	display: none;
}
.quhuoinfo .quhuo{
	width: 100%;
	padding: 0 1.35rem;
	background: #ffffff;
	z-index: 100;
	min-height: 11.45rem;
	-webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.popup_alert .alert_bottom{
	position: absolute;
    left: 0;
    bottom: 0;
}
.popup_alert .quhuo .quhuoinfo{
	font-size: 0.8rem;
	color: rgb(0,0,0);
	text-align: center;
	margin: .75rem 0 .25rem 0;
	font-weight: 600;
}
.popup_alert .quhuo .alert_list{
	padding: .75rem 0;
	border-bottom: 0.075rem solid rgb(251,251,251);
}
.radio_address + label{
	font-size: 0.7rem;
	color: rgb(50,50,50);
	font-weight: 600;
}
.update_address{
	position: absolute;
	right: 1.35rem;
	display: block;
	width: 0.775rem;
	height: 0.775rem;
	background: url('../images/update_address@2x.png') no-repeat;
	background-size: cover;
}
.add_address_btn{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2.4rem;
	line-height: 2.4rem;
	background:  rgb(253,216,12);
	font-size: 0.8rem;
}
.max_height_box{
	max-height: 20rem;
    overflow: auto;
}
.my_text_align{
	text-align: center;
	color: rgb(0,0,00);
	font-weight: 600;
}
/* alert */
.alert .quhuo{
	width: 14.5rem;
	padding: 0 0;
	background: #ffffff;
	z-index: 100;
	min-height: 8.4rem;
	padding-bottom: 2.4rem;
	position: relative;
}
.alert .max_height_box{
	max-height: 20rem;
    overflow: auto;
    padding: 0 1.925rem;
}
.alert .max_height_box p{
	text-align: left;
	font-weight: 600;
	color: rgb(102,102,102);
	font-size: 0.7rem;
	letter-spacing: 2px;
}
.alert .alert_btn_wz{
	position: absolute;
	left: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    width: 100%;
}
.alert .alert_btn_wz .btn_alert{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
}
.alert .btn_alert_bg{
	background: rgb(254,219,67);
}
.alert .btn_alert_bg1{
	background: #ffffff;
	border-top: 0.025rem solid rgb(240,240,240);
}
/* alert */
/* 单选按钮样式 */
.radio_address{
	position: absolute;
	display: none;
}
.radio_address + label{
	position: relative;
	display: block;
	padding-left: 1.625rem;
	cursor: pointer;
	vertical-align: middle;
}
.radio_address:checked + label:after{
	display: block;
}
.radio_address + label:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0.9rem;
	height: 0.9rem;
	background: url('../images/add_address_select@2x.png') no-repeat;
	background-size: cover;
}
.radio_address + label:after{
	position: absolute;
	display: none;
	content: '';
}
/* 单选按钮样式 */
/* 弹出层 */
/* 动画 */
.fadeOutDown{
      -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.fadeInUp{
      -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/* 动画 */
