body{
	background: rgb(241,245,248);
}
.g-flexview {
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
    overflow: auto;
    background: rgb(255,255,255);
}
.head{
	padding: 1.2rem 0 0 0;
	background-color: rgb(254,219,67);
}
.head .search_box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0.75rem;
}
.head .search_box .search_item{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.head .search_box .search_item .icon_search{
	width: 1.25rem;
    height: 1.45rem;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.head .search_box .search_item .icon_search:after{
	content: "";
    position: absolute;
    left: 0.5rem;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    background: url(../images/buy_search@2x.png) no-repeat;
    background-size: cover;
}
.head .search_box .search_item input{
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
	-webkit-border-radius: 0.725rem;
	border-radius: 0.725rem;
	background: rgb(241,245,248);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 0 2.0rem 0 1.4rem;
	border: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 0.6rem;
	color: #999;
}
.head .search_box .search_right{
	width: 2.5rem;

}
.head .search_box .search_right .search_r_img{
	width: 1.0rem;
	height: 1.075rem;
	margin: 0.4rem auto;
	background: url('../images/indexnews@2x.png') no-repeat;
	background-size: cover;
}
.head .head_bottom{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 2.0rem 0 1.4rem;
}
.head .head_bottom .bottom_left{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
}
.head .head_bottom .bottom_right{
	width: 4.525rem;
}
.head .head_bottom .bottom_left>span{
	font-size: 1.8rem;
	color: rgb(50,50,50);
	position: relative;
	font-weight: 600;
}
.head .head_bottom .bottom_left>span>span{
	font-size: 0.6rem;
	color: rgb(50,50,50);
	position: absolute;
	right: -1.45rem;
    top: 0.2rem;
	font-weight: 600;
}
.head .head_bottom .bottomaddress{
	padding: 0.8rem 0 0.85rem 0;
	font-size: 0.6rem;
	color: rgb(50,50,50);
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.head .head_bottom .bottomaddress>i{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.6rem;
	background: url('../images/index_refresh@2x.png') no-repeat;
	background-size: cover;
	vertical-align: middle;
}
.head .head_bottom .bottom_right{
	width: 1.525rem;
}
.head .head_bottom .bottom_right .order_img{
	width: 1.2rem;
	height: 1.45rem;
	background: url('../images/index_order@2x.png') no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.head .head_bottom .bottom_right p{
	font-size: 0.6rem;
	color: rgb(50,50,50);
	text-align: center;
}
.nav_box{
	padding: 1.2rem 0 0.55rem 0;
	border-bottom: 0.025rem solid #f1f5f8;
	position: relative;
}
.nav_box .row .col-50{
	padding-left: 1.4rem;
}
.nav_box .row .action:after{
	content: "";
	display: block;
	width: 9.375rem;
	height: 0.125rem;
	background-color: rgb(254,219,67);
	position: absolute;
	left: 0;
	bottom: 0;
}
.nav_box .row .col-50 .fujinddian{
	font-size: 0.95rem;
	color: rgb(0, 0, 0);
	font-weight: 600;
}
.nav_box .row .col-50 .fujinddian>span{
	font-size: 0.6rem;
}
.shoplist_box{
	overflow: auto;
}
.shoplist_box ul li{
	padding: 1.05rem 0 1.0rem 0;
	border-bottom: 0.025rem solid #f1f1f1;
	border-top: 0.075rem solid #fbfbfb;
}
.shoplist_box ul li:first-child{
	border-top: none;
}
.shoplist_box ul li a{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.shoplist_box ul li a .shop_img{
	width: 5.0rem;
	height: 5.0rem;
	margin-left: 0.6rem;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
	-webkit-flex: none;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.shoplist_box ul li a .shop_img img{
	width: 100%;
	height: auto;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
}
.shoplist_box ul li a .shop_right{
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-grow: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	padding: 0.525rem 0.7rem 0 0.9rem;
}
.shoplist_box ul li a .shop_right .shop_name{
	overflow: hidden;
}
.shoplist_box ul li a .shop_right .shop_name>h3>span{
	font-size: 0.75rem;
	color: #000;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.shoplist_box ul li a .shop_right .shop_name>h3{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000;
}
.shoplist_box ul li a .shop_right .shop_youhui>p{
	font-size: 0.6rem;
	color: #71767a;
	font-weight: 600;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shoplist_box ul li a .shop_right .shop_juli>p{
	font-size: 0.6rem;
	color: rgb(113,118,122);
	font-weight: 600;
}
.shoplist_box ul li a .shop_right .shop_juli>p>span{
	font-size: 0.55rem;
	color: rgb(149,156,162);
}
.shoplist_box ul li a .shop_right .shop_juli>p>span>em{
	font-size: 0.65rem;
	color: rgb(149,156,162);
	margin-left: 0.3rem;
}
/* 弹出层 */
.popup_alert{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	z-index: 99;
	display: none;
}
.popup_alert .quhuo{
	width: 14.5rem;
	padding: 0 0;
	background: #ffffff;
	z-index: 100;
	min-height: 8.4rem;
	padding-bottom: 2.4rem;
	position: relative;
}
.popup_alert .quhuo .quhuoinfo{
	font-size: 0.8rem;
	color: rgb(0,0,0);
	text-align: center;
	margin: .75rem 0 .7rem 0;
	font-weight: 600;
}
/* .popup_alert .quhuo .alert_list{
	padding: .75rem 0;
	border-bottom: 0.075rem solid rgb(251,251,251);
}
.radio_address + label{
	font-size: 0.7rem;
	color: rgb(50,50,50);
	font-weight: 600;
}
.update_address{
	position: absolute;
	right: 1.35rem;
	display: block;
	width: 0.775rem;
	height: 0.775rem;
	background: url('../images/update_address@2x.png') no-repeat;
	background-size: cover;
}
.add_address_btn{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2.4rem;
	line-height: 2.4rem;
	background:  rgb(253,216,12);
	font-size: 0.8rem;
} */
.max_height_box{
	max-height: 20rem;
    overflow: auto;
    padding: 0 1.925rem;
}
.max_height_box p{
	text-align: left;
	font-weight: 600;
	color: rgb(102,102,102);
	font-size: 0.7rem;
	letter-spacing: 2px;
}
.alert_btn_wz{
	position: absolute;
	left: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    width: 100%;
}
.alert_btn_wz .btn_alert{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
}
.btn_alert_bg{
	background: rgb(254,219,67);
}
.btn_alert_bg1{
	background: #ffffff;
}
.my_text_align{
	text-align: center;
	color: rgb(0,0,00);
	font-weight: 600;
}
/* 单选按钮样式 */
.radio_address{
	position: absolute;
	display: none;
}
.radio_address + label{
	position: relative;
	display: block;
	padding-left: 1.625rem;
	cursor: pointer;
	vertical-align: middle;
}
.radio_address:checked + label:after{
	display: block;
}
.radio_address + label:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0.9rem;
	height: 0.9rem;
	background: url('../images/add_address_select@2x.png') no-repeat;
	background-size: cover;
}
.radio_address + label:after{
	position: absolute;
	display: none;
	content: '';
}
/* 单选按钮样式 */
/* 弹出层 */
/* 动画 */
.fadeOutDown{
      -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.fadeInUp{
      -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/* 动画 */
